@import 'spectre.css/dist/spectre.min.css';
@import 'spectre.css/dist/spectre-exp.min.css';
@import 'spectre.css/dist/spectre-icons.min.css';

body {
  color:#111827;
}
.container{
  max-width: 1280px;  
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}
.description-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 45px;
  height: 45px;
}
.d-media{
  display:flex;
  flex-wrap: nowrap;
  width: 100%;
}
.description-logo svg{
  max-width: 25px;
  max-height: 25px;
}
.section-padding{
  padding-top: 48px;
  padding-bottom: 48px;
}

.header-footer-padding{
  padding-top: 24px;
  padding-bottom: 24px;
}
.item-right{
  display: flex;
 justify-content:flex-end;
}

@media (min-width: 840px){
  .item-center {
    text-align: center;
  }
 
}
